.form {
    /* position: relative; */
    background-color: white;
    padding: 1rem;
    border-radius: 5px;
}

.loginHeader,
.submitBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 20px;
}

.taxNumberInput,
.passwordInput {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    display: block;
    margin: 20px;
}