.loginForm {
    background-color: white;
    border-radius: 6px;
    padding: 20px;
}

.loginHeader,
.submitBtn,
.registerHereLink,
.forgotMyPasswordLink {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 20px;
}

.taxNumberInput,
.passwordInput {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    display: block;
    margin: 20px;
}