.profile {
  /* background-color: red; */
  display: flex;
  align-items: center;
  /* justify-content: flex-start; */
  flex-direction: column;
  height: 78vh;
  padding: 20px;
}

.fullName {
  font-size: 38px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.userData {
  /* background-color: #ccc; */
  padding: 40px;
}

label {
  margin-right: 30px;
}

.infoContext {
  font-size: 18px;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}

.editButton {
  display: flex;
  align-items: center;
  justify-content: center;
}

button {
  width: 200px;
  height: 30px;
  /* background-color: green; */
}
