.chooseFacultyForm {
  width: 50vh;
  height: 30vh;
  /* background-color: red; */
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 10% 30% 30% 30%;
  grid-column-gap: 0px;
  grid-row-gap: 10px;
}

.title {
  grid-area: 1 / 1 / 2 / 2;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 40px;
}

.lawyer {
  grid-area: 2 / 1 / 3 / 2;
}

.notary {
  grid-area: 3 / 1 / 4 / 2;
}

.spouse {
  grid-area: 4 / 1 / 5 / 2;
}

.lawyer,
.spouse,
.notary {
  display: grid;
  /* background-color: red; */
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  padding: 10px;
  grid-template-columns: 45% 55%;
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  border-radius: 8px;
}

.lawyer:hover,
.spouse:hover,
.notary:hover {
  cursor: pointer;
  background-color: #343a403e;
}

.facultySvg {
  grid-area: 1 / 1 / 2 / 2;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.facultyTitle {
  grid-area: 1 / 2 / 2 / 3;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
