.createDivorce {
  display: grid;
  grid-template-columns: 60% 40%;
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  height: 80vh;
  padding: 20px;
}

.addMembers {
  /* background-color: green; */
  grid-area: 1 / 1 / 4 / 2;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 10% 45% 45%;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.addInvolvedtitle {
  grid-area: 1 / 1 / 2 / 3;
}

.spouseOneCard {
  /* background-color: red; */
  grid-area: 2 / 1 / 3 / 2;
  display: flex;
  justify-content: center;
  align-items: center;
  /* width: max-content; */
  height: max-content;
}

.spouseTwoCard {
  /* background-color: yellow; */
  grid-area: 2 / 2 / 3 / 3;
  display: flex;
  justify-content: center;
  height: max-content;
}

.notaryCard {
  /* background-color: green; */
  grid-area: 3 / 1 / 4 / 2;
  display: flex;
  justify-content: center;
  align-items: center;
  height: max-content;
}

.lawyerTwoCard {
  /* background-color: pink; */
  grid-area: 3 / 2 / 4 / 3;
  display: flex;
  justify-content: center;
  height: max-content;
}

.addDetails {
  grid-area: 1 / 2 / 4 / 3;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 10% 80% 10%;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.contractDetailsTitle {
  grid-area: 1 / 1 / 2 / 2;
}

.details {
  grid-area: 2 / 1 / 3 / 2;
  /* background-color: red;
  height: 200px; */
}

.cardTitle {
  display: flex;
  align-items: center;
  justify-content: center;
}

.taxTextField {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 1s;
}

.cardFindButton {
  display: flex;
  align-items: center;
  justify-content: center;
}

.options {
  grid-area: 3 / 1 / 4 / 2;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.draftButton {
  grid-area: 1 / 1 / 2 / 2;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.createButton {
  grid-area: 1 / 3 / 2 / 4;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.exitButton {
  grid-area: 1 / 2 / 2 / 3;
  display: flex;
  align-items: center;
  justify-content: center;
}

.div1 {
  grid-area: 1 / 1 / 2 / 2;
}

.div2 {
  grid-area: 1 / 2 / 2 / 3;
}

.div3 {
  grid-area: 1 / 3 / 2 / 4;
}
