.completeDivorce {
  height: 100%;
  /* grid-template-columns: 30% 40% 30%;
  grid-template-rows: 20% 60% 20%; */
  background-color: var(--form-bg-color);
  border-radius: 8px;
  display: grid;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 10% 80% 10%;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.mainCharacters {
  grid-area: 1 / 1 / 2 / 4;
  display: grid;
  grid-template-columns: 95% 5%;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  padding: 10px;
}

.divorceNames {
  grid-area: 1 / 1 / 2 / 2;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  padding: 10px;
}

.spouseOne {
  grid-area: 1 / 1 / 2 / 2;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-right: 8px;
}

.spouseTwo {
  grid-area: 1 / 2 / 2 / 3;
  display: flex;
  align-items: center;
  justify-content: start;
}

.exitX {
  font-size: 24px;
  grid-area: 1 / 2 / 2 / 3;
  display: flex;
  align-items: center;
  justify-content: center;
}

.exitX :hover {
  cursor: pointer;
}

h1 {
  font-size: 38px;
}

h2 {
  margin-bottom: 10px;
}

.involvedParties {
  /* background-color: red; */
  grid-area: 2 / 1 / 3 / 2;
  border-right: 1px solid black;
  padding: 10px;
}

.involvedInfo {
  /* background-color: red; */
  width: 100%;
  display: flex;
  flex-direction: column;
}

.ones {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 20px 0px;
}

.twos {
  /* border-top: 1px solid black; */
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 20px 0px;
}

.externals {
}

.label {
  margin-bottom: 3px;
}

.involvedName {
  margin-bottom: 3px;
}

.roleStatus {
  margin-bottom: 5px;
}

.comment {
  margin-bottom: 5px;
}

.contractDetails {
  /* background-color: yellow; */
  grid-area: 2 / 2 / 3 / 3;
  border-right: 1px solid black;
  padding: 10px;
}

.info {
  margin-bottom: 3vh;
}

.status {
  /* background-color: pink; */
  grid-area: 2 / 3 / 3 / 4;
  padding: 10px;
}

/* vkfju */

.options {
  grid-area: 3 / 1 / 4 / 4;
  background-color: green;
  border-radius: 8px;
  height: max-content;
  background-color: var(--form-bg-color);
  padding: 10px;
  /* display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;*/
}

/* LAWYER OPTIONS */

.draftLawyerOptions {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.pendingLawyerOptions {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.cancelPendingLawyerButton {
  grid-area: 1 / 2 / 2 / 3;
  /* background-color: red; */
  display: flex;
  align-items: center;
  justify-content: center;
}

.exitPendingLawyerButton {
  grid-area: 1 / 1 / 2 / 2;
  display: flex;
  align-items: center;
  justify-content: center;
}

.remindPendingLawyerButton {
  grid-area: 1 / 3 / 2 / 4;
  /* background-color: green; */
  display: flex;
  align-items: center;
  justify-content: center;
}

.completedLawyerOptions {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* NOTARY OPTIONS */

.pendingNotaryOptions {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.acceptPendingNotaryButton {
  grid-area: 1 / 1 / 2 / 2;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-right: 10px;
}

.closePendingNotaryButton {
  grid-area: 1 / 2 / 2 / 3;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-left: 10px;
}

/* SPOUSE OPTIONS */

.pendingSpouseOptions {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.exitPendingSpouseButton {
  grid-area: 1 / 1 / 2 / 2;
  display: flex;
  align-items: center;
  justify-content: center;
}

.objectedPendingSpouseButton {
  grid-area: 1 / 2 / 2 / 3;
  display: flex;
  align-items: center;
  justify-content: center;
}

.rejectedPendingSpouseButton {
  grid-area: 1 / 3 / 2 / 4;
  display: flex;
  align-items: center;
  justify-content: center;
}

.acceptedPendingSpouseButton {
  grid-area: 1 / 4 / 2 / 5;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* ADMIN OPTIONS */
