.completeDivorce {
  height: 100%;
  /* grid-template-columns: 30% 40% 30%;
  grid-template-rows: 20% 60% 20%; */
  background-color: var(--form-bg-color);
  border-radius: 8px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 10% 80% 10%;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.seperators {
  background-color: red;
  grid-area: 1 / 1 / 2 / 2;
  display: grid;
  grid-template-columns: 45% 45% 10%;
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.seperateOne {
  /* background-color: tan; */
  grid-area: 1 / 1 / 2 / 2;
  display: flex;
  align-items: center;
  justify-content: center;
}

.seperateTwo {
  background-color: yellow;
  grid-area: 1 / 2 / 2 / 3;
  display: flex;
  align-items: center;
  justify-content: center;
}

.exitX {
  /* background-color: pink; */
  grid-area: 1 / 3 / 2 / 4;
  display: flex;
  align-items: center;
  justify-content: center;
}

.allInfo {
  background-color: green;
  grid-area: 2 / 1 / 3 / 2;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.involvedParties {
  background-color: orange;
  grid-area: 1 / 1 / 2 / 2;
  border-right: 1px solid black;
  overflow-y: auto;
  padding: 10px;
  display: flex;
  flex-direction: column;
  row-gap: 30px;
}

.user {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 20% 10% 70%;
  grid-column-gap: 0px;
  /* grid-row-gap: 5px; */
}

.fullName {
  grid-area: 1 / 1 / 2 / 2;
  background-color: red;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* height: auto; */
}

.faculty {
}

.statement {
  background-color: green;
  grid-area: 2 / 1 / 3 / 2;
}

.comment {
  /* background-color: yellow; */
  grid-area: 3 / 1 / 4 / 2;
}

.commentTitle {
}

.commentInfo {
  height: 100%;
}

.moreInfo {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 10% 90%;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  padding: 10px;
}

.dateInfo {
  grid-area: 1 / 1 / 2 / 2;
}

.dateTitle {
}

.date {
}

.details {
  grid-area: 2 / 1 / 3 / 2;
}

.contractTitle {
}

.contractDetails {
}

/* <div className={classes.user}>
                  <div className={classes.fullName}>
                    <h3>{spouseOneStatementData.fullName}</h3>
                    <div className={classes.faculty}>
                      <h2>Spouse One</h2>
                    </div>
                  </div>
                  <div className={classes.statement}>
                    <p>{spouseOneStatementData.choice}</p>
                  </div>
                  <div className={classes.comment}>
                    <h3 className={classes.commentTitle}>Comment:</h3>
                    <div className={classes.commentInfo}>
                      {spouseOneStatementData.comment}
                    </div>
                  </div> */

.involvedParties::-webkit-scrollbar {
  display: none;
}

.moreInfo {
  /* background-color: grey; */
  grid-area: 1 / 2 / 2 / 3;
  border-right: 1px solid black;
}

.statusInfo {
  grid-area: 1 / 3 / 2 / 4;
}

.options {
  /* background-color: brown; */
  grid-area: 3 / 1 / 4 / 2;
  align-items: center;
}
