.notificationCard {
  position: fixed;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  background-color: rgb(223, 118, 118);
  border-radius: 8px;
  /* width: max-content; */
  padding: 10px;
  width: auto;
  max-width: 40vh;
  height: max-content;
  /* max-height: 30vh; */
  /* left: 1%;
  top: 10%; */
  left: 50%;
  transform: translate(-50%, -50%);
  /* right: auto; */
  top: 5%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  /* display: none; */
  /* Initially, hide the element */
  /* animation: fadeInOut 3s; */
  /* Animation duration: 3 seconds */
  animation: fade 3s ease-in-out;
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
