.notificationCard {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  background-color: white;
  border-radius: 8px;
  position: fixed;
  /* width: max-content; */
  padding: 10px;
  width: max-content;
  max-width: 60vh;
  height: max-content;
  /* max-height: 30vh; */
  left: 45%;
  top: 1%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
