button {
    width: 120px;
    height: 30px;
    background-color: rgba(237, 148, 32, 0.539);
    color: black;
    border: none;
    /* border: 1px solid black; */
    border-radius: 6px;
}

button:hover {
    cursor: pointer;
    background-color: rgba(154, 154, 204, 0.539);
    color: black;
    border: none;
}